@import '../variables';
@import '../mixins';

%ui-button {
  @extend %ui-component;
  @include svg-icon-shadow;

  background-color: transparent;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.2em;
  border: 0;
  box-sizing: content-box;
  cursor: pointer;
  font-size: 1em;
  height: 1.5em;
  min-width: 1.5em;
  padding: .25em;

  scale: 1;
  transition-timing-function: ease-in-out;
  transition: scale 0.2s;

  -webkit-tap-highlight-color: transparent;

  .#{$prefix}-label {
    color: $color-primary;
    display: none;
  }

  &.#{$prefix}-disabled {
    cursor: default;

    &,
    > * {
      pointer-events: none;
    }

    .#{$prefix}-label {
      &:hover {
        text-decoration: none;
      }
    }
  }

  @include hidden;
  @include focusable;

  &:active {
    scale: 0.8;
    transition-timing-function: ease-in-out;
    transition: scale 0.2s;
  }
}

.#{$prefix}-ui-button {
  @extend %ui-button;
}
